.table-view {
    -fx-table-color: #BBDEFB;
    -fx-border-color:#929292;
    -fx-table-rippler-color: rgba(255.0, 0.0, 0.0, 0.4);
    -fx-selection-bar-non-focused: #e0e0e0;
-fx-alignment: CENTER;
}
.table-view .column-header .label {
  -fx-alignment: CENTER;
  -fx-text-fill: red;
}
.custom-align { 
  -fx-alignment: CENTER; 
} 

.table-view:focused .table-row-cell:selected {
    -fx-background-color: -fx-table-color;
    -fx-table-cell-border-color: -fx-table-color;
   /* -fx-text-fill: BLACK;
    -fx-alignment: CENTER;*/
    /*-fx-border-color: #F3F3F3;*/
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: BLACK;
}

.table-view .jfx-rippler {
    -jfx-rippler-fill: -fx-table-rippler-color;
    -fx-alignment: CENTER;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-border-width: 1.0 1.0 1.0 1.0;
    -fx-border-color: #F3F3F3;
    -fx-alignment: CENTER;
}

/* Header Text Design */
.table-view .column-header .label {
    /*-fx-text-fill: #949494;*/
    -fx-text-fill: #949494;
    -fx-padding: 10.0 0.0 10.0 0.0;
    -fx-alignment: CENTER;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
    -fx-alignment: CENTER;
}

.table-view .column-header:last-visible {
    -fx-border-width: 0.0 2.0 0.0 1.0;
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: #F3F3F3;
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-border-width: 1.0 1.0 1.0 1.0;
    -fx-padding: 10.0 0.0 10.0 10.0;
}

.table-view .column-overlay {
    -fx-background-color: -fx-table-color;
    -fx-alignment: CENTER;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
    -fx-alignment: CENTER;
}

.table-view:focused {
   /* -fx-background-color: -fx-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    ....
    -fx-padding: 1; /* 0.083333em; */
    -fx-alignment: CENTER;
}

.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 16.0; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
    -fx-alignment: CENTER;
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgba(240.0, 40.0, 40.0, 1.0);
    -fx-alignment: CENTER;
}

.table-row-group {
    -fx-background-color: rgba(230.0, 230.0, 230.0, 1.0);
    -fx-alignment: CENTER;
}
.table-row-cell {
    -fx-cell-size: 30.0px;
}
.animated-option-button {
    -fx-pref-width: 50.0px;
    -fx-background-color: #44B449;
    -fx-background-radius: 50.0px;
    -fx-pref-height: 50.0px;
    -fx-text-fill: white;
    -fx-border-color: WHITE;
    -fx-border-radius: 50.0px;
    -fx-border-width: 4.0px;
    -fx-alignment: CENTER;
}

.animated-option-sub-button {
    -fx-background-color: #43609C;
    -fx-alignment: CENTER;
}

.animated-option-sub-button2 {
    -fx-background-color: rgb(203.0, 104.0, 96.0);
    -fx-alignment: CENTER;
}

.table-view .menu-item:focused {
    -fx-background-color: -fx-table-color;
    -fx-alignment: CENTER;

}

.table-view .menu-item .label {
    -fx-padding: 2.0 0.0 2.0 2.0;
    -fx-alignment: CENTER;
}

/*.table-row-cell:selected {
   -fx-border-color: #167EFB; 
}*/

/***************************************/
/*.table-view:focused {
    -fx-border-width : 0 0 0 0;
    -fx-border-color: #F3F3F3;
   -fx-background-color: #ffffff;
}*/

.avColumn{
    /*-fx-background-color: #F44336;*/
   -fx-text-fill: #0f9d58;
   -fx-border-width: 0.0 5.0 0.0 20.0;
    /*-fx-border-color: Black;*/
    -fx-font-weight: bold;
}

.qteColumn{
    /*-fx-background-color: #F44336;*/
   -fx-border-width: 0.0 0.0 0.0 0.0;
    -fx-border-color: TRANSPARENT;
}

.magColumn{
    -fx-background-color: white;
    -fx-alignment: CENTER;
    /*-fx-background-color: #F44336;*/
   -fx-border-width: 0.0 5.0 0.0 20.0;
}

.table-row-cell:focused{
  -fx-table-cell-border-color: #F3F3F3 ;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 2em;
}
.mylistview2 .increment-button ,.mylistview2 .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.mylistview2.scroll-bar:horizontal .track,
.mylistview2 .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview2 .scroll-bar:horizontal .thumb,
.mylistview2 .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 2em;

}


.table-view .filler{
    -fx-background-color:red;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 2, 0.5, 1, 1);
}
.selectedline {

    -fx-selection-bar-non-focused: #ff8a80;  
}